extends ../../element.pug
block body
  ons-list(modifier='inset')
    ons-list-item(modifier='longdivider')
      if status.isUpdating
        div.left
          ons-icon( icon='fa-ellipsis-h',
                    size='20px')
        div.center
          span.list__item__title
            | Checking
          span.list__item__subtitle
            | Checking for application updates ...
      else if status.isDownloading
        div.left
          ons-icon( icon='fa-cloud-download',
                    size='20px')
        div.center
          span.list__item__title
            | Downloading Updates
          span.list__item__subtitle
            | Downloading application updates ...
      else if status.isUpdateRequired
        div.left
          ons-icon( icon='fa-cloud-download',
                    size='20px')
        div.center
          span.list__item__title
            | Updates Downloaded
          span.list__item__subtitle
            | Application updates have been downloaded and will be applied in&nbsp;
            span( id='onUpdateReady',
                  style='font-weight: bold;')
              | 3
            | &nbsp;seconds.
      else
        div.left
          ons-icon( icon='fa-cloud',
                    size='20px')
        div.center
          span.list__item__title
            | No Updates Available
          span.list__item__subtitle
            | Your version of the application is the latest version.  No updates
            | are available.
