extends ./navigated-page.pug
//- block body
//-   ons-toolbar
//-     if application.canPopPage()
//-       div.left
//-         ons-toolbar-button(id='goBack')
//-           ons-icon( icon='ion-chevron-left',
//-                     size='18px')
//-           |  Back
//-     div.center
//-       | Features
block back
  | Back
block center
  | Features
block contents
  ons-list(modifier='inset')
    ons-list-item(  id='goStatus',
                    modifier='chevron longdivider',
                    tappable)
      //- | Server Status
      | Status
    if application.isCacheEnabled
      ons-list-item(  id='goCache',
                      modifier='chevron longdivider',
                      tappable)
        | Updates
    ons-list-item(  id='goTests',
                    modifier='chevron longdivider',
                    tappable)
      | Tests
    ons-list-item(  id='goCoverage',
                    modifier='chevron longdivider',
                    tappable)
      | Coverage
    ons-list-item(  id='goInterval',
                    modifier='longdivider',
                    tappable)
      | Countdown&nbsp;
      span(id='goIntervalInterval')
        span(style='font-style: italic;')
          | n
      | &nbsp;seconds
    ons-list-item(  id='goBlink',
                    modifier='chevron longdivider',
                    tappable)
      | Blink

  ons-list(modifier='inset')
    ons-list-header
      | DIALOGS
    ons-list-item(  id='goAlert',
                    modifier='longdivider',
                    tappable)
      | Alert
    ons-list-item(  id='goConfirmation',
                    modifier='longdivider',
                    tappable)
      | Confirmation
    ons-list-item(  id='goSpinner',
                    modifier='longdivider',
                    tappable)
      | Spinner

  ons-list(modifier='inset')
    ons-list-header
      | LOGIN
    ons-list-item(  id='goGitHub',
                    modifier='chevron longdivider',
                    tappable)
      div.left
        ons-icon( icon='fa-github',
                  size='20px')
      div.center
        | GitHub
